.font_1
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.font_2
{
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

body
{
    /* margin: 50px; */
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.title
{
    font-weight: bold;
    font-size: 20px;
    color: #0078ff;
    font-family: 'Open Sans', sans-serif;
}

.container
{
    align-items: center;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.bg
{
    /* margin-top: 20px;    */
    text-align:left;
    background-color: rgb(203, 224, 250);
    font-family: 'Open Sans', sans-serif;   
    padding: 20px;
}

.language
{
    font-weight: bold;
    color: gray;
}

