.font_1
{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.font_2
{
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.font_3
{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

body
{
    border: 100px black;
    /* margin: 50px; */
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.title
{
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: #a9d3fa;
    font-family: 'Open Sans', sans-serif;
}

.container
{
    align-items: center;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.bg
{
    /* margin-top: 20px;    */
    text-align:left;
    background-color: rgb(187, 214, 248);
    font-family: 'Open Sans', sans-serif;   
    padding: 20px;
}

.language
{
    font-weight: bold;
    color: gray;
}

.box
{
    inline-size: 10px;
}

